table{
    border-width: 3px;
    border-collapse:collapse ;
}
caption, .blue{
    color: blue;
}
.cam{
    background-color: orange;
    height: 25px;
}
.yellow{
    background-color: yellow;
    height: 25px;
}